<div class="slider-area">
  <div class="slider">
      <div id="bg-slider" >
       
        <div class="item"><img ng-src="images/slider-image-3.jpg" alt="Mirror Edge"></div>
       
      </div>
  </div>
  <div class="container slider-content">
      <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
              <h2>Encontre seus clientes</h2>
              <p>Pessoas que querem o que você vende!</p>
              <div class="search-form wow pulse" data-wow-delay="0.8s">
                  <form action="" class=" form-inline">
                      <div class="form-group">
                          <input type="text" class="form-control" ng-model="query" placeholder="Palavra-chave">
                      </div>
                      <div class="form-group">
                          <select name="" id="" class="form-control">
                              <option>Select Your City</option>
                              <option selected>New york, CA</option>
                              <option>New york, CA</option>
                              <option>New york, CA</option>
                              <option>New york, CA</option>
                          </select>
                      </div>
                      <div class="form-group">
                          <select name="" id="" class="form-control">
                              <option>Select Your Category</option>
                              <option selected>Graphic Design</option>
                              <option>Web Design</option>
                              <option>App Design</option>
                          </select>
                      </div>
                      <input type="submit" class="btn" value="Pesquisar" ng-click="pesquisar(query)">


                  </form>
              </div>
              <h2>{{resposta.resposta}}</h2>
          </div>
      </div>
  </div>
</div>